.content-wrapper {
    margin-left: 280px;
    /* Same as sidebar width */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topbar {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 999;
}

@media (max-width: 991.98px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .content-wrapper {
        margin-left: 0;
    }
}